.logo{
    width: 100%;
    max-width: 400px; 
    height: auto;
    display: block;
    margin: auto;
}
body.inProgress{
    background-image: url("../img/inProgress.jpg");
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto; 
}

body{
    background-color: white;
}

#form1{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color: pink;
}

.channel{
    min-width: min-content;
    margin: auto;
}

#formButton{
    margin: auto;
    width: 50%;
    padding: 10px;
}

#comboBox{
    margin: auto;
    width: 50%;
    padding: 10px;  
}

#editor{
    margin: auto;
    width: 50%;
    padding: 10px; 
}